/* variables */
:root {
    --dark: "#213740";
    --light: "#E8F2D8";
    --secondary: "#A0AA93";
    --darker: "#1a2c33";
    --highlights: "#A0AA93";
    --highlights: "#E8F2D8";
    --shade: "#28424d";
}

/* skills */
/* web */

